///////////////////////////////////////////// GLOBAL RESETS

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}a,a:before,a:visited{text-decoration:none;color:#000}.nav-text{color:#424242}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1;text-align:center}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

//////////////////////////////////////////// NAVBAR

.nav-bar {
  font-family: "Helvetica";
  height: 50px;
  width: 100%;
  background-color: white;
  color: white;
  display: flex;
  align-items: center;
  border-bottom: .1px solid #ccc;
  padding-right:5%;
  .nav-bar-right {
    list-style: none;
    display: flex;
    width:20%;
    text-align: right;
    padding-left: 10%;
    a {
      width: 25%;
    }
  }
  .nav-bar-left {
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    width:65%;
    padding-left:5%;
  }
}

//////////////////////////////////////////// HERO SPOT

header {
  display:flex;
  align-items: center;
  height:50vh;
  justify-content: center;
  .hero-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }
  .header-content{
    display: flex;
    flex-direction: column;
    font-family: "helvetica";
    h1 {
      font-size:4em;
      color:white;
      font-style: italic;
      font-weight: bolder;
      transition: text-shadow 2s;
    }
    h1:hover{
      text-shadow:  1px 1px rgba(255, 121, 97, 0.5) , 2px 2px rgba(255, 121, 97, 0.50056) , 3px 3px rgba(255, 121, 96, 0.50111) , 4px 4px rgba(255, 121, 96, 0.50167) , 5px 5px rgba(255, 122, 96, 0.50222) , 6px 6px rgba(255, 122, 95, 0.50278) , 7px 7px rgba(255, 122, 95, 0.50333) , 8px 8px rgba(255, 122, 95, 0.50389) , 9px 9px rgba(255, 122, 94, 0.50444) , 10px 10px rgba(255, 122, 94, 0.505) , 11px 11px rgba(255, 122, 94, 0.50556) , 12px 12px rgba(255, 123, 94, 0.50611) , 13px 13px rgba(255, 123, 93, 0.50667) , 14px 14px rgba(255, 123, 93, 0.50722) , 15px 15px rgba(255, 123, 93, 0.50778) , 16px 16px rgba(255, 123, 92, 0.50833) , 17px 17px rgba(255, 123, 92, 0.50889) , 18px 18px rgba(255, 123, 92, 0.50944) , 19px 19px rgba(255, 124, 91, 0.51) , 20px 20px rgba(255, 124, 91, 0.51056) , 21px 21px rgba(255, 124, 91, 0.51111) , 22px 22px rgba(255, 124, 91, 0.51167) , 23px 23px rgba(255, 124, 90, 0.51222) , 24px 24px rgba(255, 124, 90, 0.51278) , 25px 25px rgba(255, 124, 90, 0.51333) , 26px 26px rgba(255, 124, 89, 0.51389) , 27px 27px rgba(255, 125, 89, 0.51444) , 28px 28px rgba(255, 125, 89, 0.515) , 29px 29px rgba(255, 125, 88, 0.51556) , 30px 30px rgba(255, 125, 88, 0.51611) , 31px 31px rgba(255, 125, 88, 0.51667) , 32px 32px rgba(255, 125, 88, 0.51722) , 33px 33px rgba(255, 125, 87, 0.51778),
    }
    h2 {
      font-size: 2em;
      margin: 50px;
      color: white;
    }
    button {
      border: 1px solid white;
      border-radius: 30px;
      height: 60px;
      width: 300px;
      background: transparent;
      color: white;
      margin: auto;
      padding:auto;
      font-size: 1.5em;
      font-weight: 200;
      transition: color .5s, background-color .5s;
    }
    button:hover {
      border: 1px solid white;
      border-radius: 30px;
      height: 60px;
      width: 300px;
      background: white;
      color:  rgba(98,160,220, 1);
      margin: auto;
      padding:auto;
    }
    hr {
      height: 1px;
      background-color: white;
      width: 50%;
      margin:auto;
      padding:auto;
      border: none;
      margin-top: 5%;
    }
  }
}

/////////////////////////////////////////// ABOUT SECTION

.about {
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  width:100%;
  justify-content: center;
  font-family: "helvetica";
  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 24.6%;
    background-color: white;
    height: 300px;
    margin:auto;
    padding:auto;
    font-weight: normal;;
    p {
      padding: 10%;
      font-weight: lighter;
      line-height: 1.5em;
    }
  }
  h3 {
    font-size: 1.5em;
  }
}

//////////////////////////////////////////// PRODUCT SECTION

.product-features {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin-top: 5%;
  font-family: "Helvetica";
  h3 {
    font-size: 1.5em;
    padding: 5%;
  }
  p {
    padding-left: 5%;
    padding-right: 5%;
    font-weight: lighter;
    line-height: 1.5em;
  }
  .feature-one {
    height: 200px;
    background-color: white;
    width: 91.3%;
    margin:auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top:2%;
    .feature-image {
      width: 50%;
      background-color: white;
      height:90%;
      width:90%;
      background-image: url("../public/images/graph.png");
    }
    .feature-text {
      width: 50%;
      background-color: white;
      height:90%;
    }
  }
  .feature-two {
    height:200px;
    background-color: white;
    width: 91.3%;
    margin:auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top:2%;
    .feature-image {
      width: 50%;
      background-color: white;
      height:90%;
      width:90%;
      background-image: url("../public/images/d3.png");
    }
    .feature-text {
      width: 50%;
      background-color: white;
      height:90%;
    }
  }
  .feature-three {
    height:200px;
    background-color: white;
    width: 91.3%;
    margin:auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top:2%;
    .feature-image {
      width: 50%;
      background-color: white;
      height:90%;
      width:90%;
      background-image: url("../public/images/d3_3.png");
    }
    .feature-text {
      width: 50%;
      background-color: white;
      height:90%;
    }
  }
}

////////////////////////////////////////////////// CONTACT SECTION

.contact {
  font-family: "Helvetica";
  color:white;
  width: 91.3%;
  margin:auto;
  height:250px;
  background: linear-gradient(to right, transparent, rgb(98,160,220)); /* Standard syntax */
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  .call-to-action {
    width:50%;
    background-color: transparent;
  }
  .login-to-app {
    width:50%;
  }
  button {
    border: 1px solid white;
    border-radius: 30px;
    height: 60px;
    width: 300px;
    background: transparent;
    color: white;
    margin: auto;
    padding:auto;
    font-size: 1.5em;
    font-weight: 200;
    transition: color .5s, background-color .5s;
  }
  button:hover {
    border: 1px solid white;
    border-radius: 30px;
    height: 60px;
    width: 300px;
    background: white;
    color: rgb(98,160,220);
    margin: auto;
    padding:auto;
  }
  h3 {
    font-size: 1.5em;
    font-weight: 200;
  }
}

////////////////////////////////////////////////// FOOTER

footer {
  font-family: "Helvetica";
  color:white;
  width: 100%;
  margin:auto;
  height:350px;
  background-color: rgba(98,160,220, 1);
  margin-top: 5%;
  display: flex;
  align-items: center;
  .footer-left {
    width:33%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-center {
    width:33%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-right {
    width:33%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* =======================
   >>>>  MEDIA QUERY  <<<<
   ======================= */

@media screen and (max-width: 550px) {

  .nav-bar {
    font-family: "Helvetica";
    height: 50px;
    width: 100%;
    background-color: white;
    color: white;
    display: flex;
    align-items: center;
    border-bottom: .1px solid #ccc;
    padding-right:5%;
    .nav-bar-right {
      list-style: none;
      display: flex;
      width:20%;
      text-align: right;
      padding-left: 10%;
      a {
        width: 25%;
      }
    }
    .nav-bar-left {
      list-style: none;
      flex-direction: row;
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      width:65%;
      padding-left:5%;
    }
  }
  .about {
    display: block;
    background: transparent;
    .about-content {
      width:90%;
      margin:5%;
    }
    h3 {
      font-size: 1.5em;
    }
  }
}
