.dashboard {
  height: 100vh;
  width: 100%;
  display:flex;
  flex-direction: row;
  background-color: green;
  .left-input-bar {
    width: 20%;
    height: 100vh;
    background-color: yellow;
    display:flex;
    flex-direction: column;
    .left-input-form {
      input {
        display:flex;
        flex-direction: column;
        margin:auto;
        width:80%;
        height: 50px;
      }
    }
  }

  .data-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .graph-container {
      display: flex;
      height:60vh;
      background-color: blue;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .data-table {
      display: flex;
      height: 40vh;
      background-color: red;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}
