.first-flight-container {
  display: flex;
  flex-direction: row;
  width: 100% auto;
  height: 100vh;
  .left-pane {
  width: 50%;
  background: linear-gradient(to right, #9cd0f7, rgb(98,160,220));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    h1 {
      font-size: 1.5em;
      color:white;
      font-weight: 300;
      margin: 5%;
      margin-top: -145px;
    }
    h2 {
      font-size: 1.5em;
      color:white;
      font-weight: 300;
    }
    img {
      height:400px;
      width:400px;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5%;
    }
    p {
      padding-left: 20%;
      padding-right: 20%;
    }
  }
  .right-pane {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
    .first-flight-form {
      margin-top: 150px;
      display: flex;
      flex-direction: column;
      height: 100%;
      input {
        width: 360px;
        margin: auto;
        height: 50px;
        border:none;
        border-bottom: 1px solid rgba(98,160,220, 1);
        transition: border-bottom .1s, background-color .5s ease;
        font-family: "Lato";
        font-weight: 300;
        color:black;
        margin-top: 15px;
      }
      input:focus {
        outline: none;
        border-bottom: 2px solid gold;
        background-color: rgb(250,250,250);
        color:black;
      }
      .submit-flight {
        font-family: 'Lato', sans-serif;
        border: none;
        background-color: white;
        color:rgba(98,160,220, 1);
        border: 1px solid rgba(98,160,220, 1);
        border-radius: 30px;
        margin: auto;
        font-size: 1.25em;
        padding:auto;
        transition: color .5s ease, background-color .5s ease;
        width: 350px;
        height: 60px;
        font-weight: 300;
        margin-top: 70px;
      }
      .submit-flight:hover {
        background: white;
        color: white;
        background-color:rgba(98,160,220, 1);
      }
    }
  }
}
