thead, tbody, tr, th { display: block; }



.data-table {
  width: 100%;
  overflow: scroll;
  overflow-x: scroll;
  height: 40vh;
  .main-table {
    width: 100%;
    tr {
      height: 70px;
    }
    tr:first-child {
      position: fixed;
    }
    td {
      width: 7%;
    }
  }
}
