table {
  width: 100%;
  overflow: scroll;
  td {
    margin: auto;
    max-width: 70px;
    word-wrap: break-word;
  }
  td:last-child {
    border-right: 1px solid #e8e8e8;
  }
  tr:nth-child(even) td {
    background-color: rgba(121, 179, 230, 1);
    color: white;
  }
  tr:first-of-type  {
    background-color: rgba(121, 179, 230, 1);
  }
}
