<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="../../css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
    <main class="dashboard">
      <div class="left-input-bar">
        <form class="left-input-form">
          <input type="text" placeholder="Origin" />
          <input type="text" placeholder="Destinstion" />
          <input type="text" placeholder="Price" />
          <input type="text" placeholder="Flight Date" />
          <input type="text" placeholder="Purchase Date" />
          <input type="text" placeholder="Purchase Location" />
          <input type="text" placeholder="Flight Number" />
          <input type="text" placeholder="Airline" />
          <input type="submit" value="Submit Flight Info">
        </form>
      </div>
      <div class="data-container">
        <div class="graph-container">
          fwefwefewfwfefw
        </div>
        <div class="data-table">
          wefwefwefwefwefwef
        </div>
      </div>
    </main>
  </body>
</html>
