<main class="dashboard">
  <div class="left-input-bar">
    This will be the search bar
    <form class="left-input-form">
      <input type="text" placeholder="Origin" />
      <input type="text" placeholder="Destinstion" />
      <input type="text" placeholder="Price" />
      <input type="text" placeholder="Flight Date" />
      <input type="text" placeholder="Purchase Date" />
      <input type="text" placeholder="Purchase Location" />
      <input type="text" placeholder="Flight Number" />
      <input type="text" placeholder="Airline" />
      <input type="submit" value="Submit Flight Info">
    </form>
  </div>
  <div class="data-container">
    <div class="graph-container">
      This will be the graph
    </div>
    <div class="data-table">
      This will be the table
    </div>
  </div>
</main>
