<main class="first-flight-container">
  <div class="left-pane">
    <h1>Welcome, {{user.name}}</h1>
    <img src="path/to/img" />
    <h2>Please enter some flight info to begin using our app</h2>
  </div>
  <div class="right-pane">
    <form class="first-flight-form">
      <input type="text" placeholder="Origin" />
      <input type="text" placeholder="Destinstion" />
      <input type="text" placeholder="Price" />
      <input type="text" placeholder="Flight Date" />
      <input type="text" placeholder="Purchase Date" />
      <input type="text" placeholder="Purchase Location" />
      <input type="text" placeholder="Flight Number" />
      <input type="text" placeholder="Airline" />
      <input type="submit" value="Submit Flight Info">
    </form>
  </div>
</main>
