<main class="first-flight-container">
  <div class="left-pane">
    <h1>Welcome, {{ff.user.name}}</h1>
    <img src="path/to/img" />
    <h2>Please enter some flight info to begin using our app</h2>
  </div>
  <div class="right-pane">
    <form class="first-flight-form" ng-model="ff.insertFlight">
     <input type="text" placeholder="Flight Date" name="flight_date" />

     <!-- ff.getAirlines($viewValue) -->
     <input type="text" ng-model="ff.insertFlight.Airline2" placeholder="Airline" uib-typeahead="airline.name for airline in ff.airlines | filter:$viewValue | limitTo:8" typeahead-loading="ff.loadingLocations" typeahead-no-results="ff.noResults">
     <i ng-show="ff.loadingLocations" class="glyphicon glyphicon-refresh"></i>
     <div ng-show="ff.noResults">
       <i class="glyphicon glyphicon-remove"></i> No Results Found
     </div>

     <select class="" ng-model="ff.insertFlight.Airline" name="Airline">
       <option ng-repeat="airline in ff.airlines" value="{{airline.id}}">{{airline.name}}</option>
     </select>
     <select class="" ng-model="ff.insertFlight.DepartureAirport" name="departure_airport_id">
       <option ng-repeat="airport in ff.airports" value="{{airport.id}}">{{airport.name}}</option>
     </select>
     <select class="" ng-model="ff.insertFlight.ArrivalAirport" name="arrival_airport_id">
       <option ng-repeat="airport in ff.airports" value="{{airport.id}}">{{airport.name}}</option>
     </select>
     <input type="text" placeholder="Purchase Date" name="purchase_date" />
     <input type="text" placeholder="Flight Number" name="flight_number"/>
     <input type="text" placeholder="Price" name="price_paid"/>
     <input type="text" placeholder="Purchase Location" name="purchase_location" />
     <input type="submit" value="Submit Flight Info" ng-click="ff.postFlight(ff.insertFlight)">
   </form>
  </div>
</main>
